<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671068093083-nijh0cqfvp3dl2oi02k6b3to0iu1mh16.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671068093083-nijh0cqfvp3dl2oi02k6b3to0iu1mh16</string>
	<key>API_KEY</key>
	<string>AIzaSyD2uMUbjLu8Lndcd9-QTGJczfjKckBvvfY</string>
	<key>GCM_SENDER_ID</key>
	<string>671068093083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudAll</string>
	<key>PROJECT_ID</key>
	<string>crud-all</string>
	<key>STORAGE_BUCKET</key>
	<string>crud-all.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671068093083:ios:a6fd2a89d1d798dec1643e</string>
</dict>
</plist>